[user]
	email =
	name =
	signingkey =

[merge]
	tool = vimdiff

[mergetool]
	prompt = true

[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[difftool]
	prompt = false

[diff]
	tool = vimdiff

[core]
	editor = nvim
[commit]
	gpgsign = true
[pull]
	ff = only
[tig "color"]
    cursor = default blue
